$red-primary: mat-palette($mat-red, 700, 50, 900);
$red-accent: mat-palette($mat-orange, 600, 100, 900);
$red-warn: mat-palette($mat-blue, 600);

$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);