 .mat-list-item{
     font-size: 1em;
    //  margin-left: 1rem;
    //  height: 30px!important;
    //  line-height: 0.5em;
 }
 h3{
     color: #000000!important;
     margin-left: 1rem;
    //  padding-bottom: 0px!important;
 }