.suc2{
    // background: #F57F17;
    box-sizing: border-box;
    height: 36px;
    border-radius:0 10px 10px 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    transform: skewX(-30deg);
    span, .mat-icon{
        transform: skewX(16deg);
    }
    box-shadow: 4px 0px 7px 1px rgba(0,0,0,0.39);
    // background-image: linear-gradient(to left, rgba(255,0,0,0), #F57F17);
}
.suc1{
    // background: #F57F17;
    height: 36px;
    padding-right: 1rem;
    border-radius:0 10px 10px 0;
    width: 100%;
    transform: skewX(-30deg);
    span, .mat-icon{
        transform: skewX(16deg);
    }
    box-shadow: 4px 0px 7px 1px rgba(0,0,0,0.39);
    // ground-image: linear-gradient(to left, rgba(255,0,0,0), #F57F17);
}