 
.widget{ 
    margin-bottom: 40px;
    .widget-title{
        margin: 0 -16px 16px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &:first-child{  
        .widget-title{
            margin: -16px -16px 16px;
            padding: 8px 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
    } 

} 
.galery-content{
    min-height: 80vh!important;
    background-attachment: #ccc;
}
.wsp-ico{
    width: 24px;
    fill: #25d366;
}
.wsp-number{
    a{
        text-decoration: none;
        font-weight: 800;
        color: black;

    }
}

.item{
    .name-detail{
        font-weight: 900!important;
        color:#08415c;
            // padding: 0 .4em 0 0;	
    }
}
.feature-item{
    display: flex;
    padding: 0.8rem 0.8rem 0.8rem 0 ;
}
.icon{
    width: 24px;
    height: 24px;
    margin-right: 10px!important;
}

.price{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}