<div class="px-3">
    <div class="theme-container"> 

        <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
            
            <img src="assets/images/others/asesores.svg" alt="operator" fxShow="false" fxShow.gt-xs>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="content" ngClass.xs="p-0"> 
                <div fxLayout="column" class="p-3">
                    <h2>¿ESTÁS BUSCANDO, O VENDES TU CASA?</h2>
                    <p class="mb-0">Nuestro equipo te puede ayudar!</p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="p-3">
                    <mat-icon class="mat-icon-xlg mx-2">call</mat-icon>
                    <div fxLayout="column">               
                        <p class="mb-0">LLAMANOS</p>
                        <h2 class="ws-nowrap">(+54) 02246 434-284</h2>
                    </div>
                </div>
                <div class="p-3">
                    <a mat-flat-button routerLink="/contact" class="mx-3 uppercase">Contactanos</a>
                </div>
            </div> 

        </div>

    </div>
</div>