 
.widget{
    margin-bottom: 40px;
    .widget-title{
        margin: 0 -16px 16px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: 500;
    }
    &:first-child{  
        .widget-title{
            margin: -16px -16px 16px;
            padding: 8px 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
    } 

} 

.wsp-ico{
    width: 24px;
    fill: #25d366;
}
.wsp-number{
    a{
        text-decoration: none;
        font-weight: 800;
        color: black;

    }
}

.sticky{
    position: sticky!important;
    top:64px!important;

}

//////////////
//input formfields
